@import 'custom';

// **** GENERAL **** //

body{
  font-family: $font-family;
  font-size: 1.1rem;
}
.flow{
  max-width: 1000px;
}
.btn{
  background-color: $button-background;
  color: $warning;
  &:hover{
    background-color: $button-hover;
    color: $warning;
  }
}

// **** HEADER **** //

.nav-link:not(.bi){
  color: $warning;
  font-size: 1.2rem;
  &:hover{
    color: $yellow-flash;
  }
}
.dropdown-menu{
  background-color: $primary;
}

.navbar{
  position: relative;
}
.login-icons{
  position: absolute;
  right: 2rem;
  i{
    font-weight: 800;
    font-size: 1.8rem;
    color: $white;
    &:hover{
      color: $yellow-flash;
    }
  }
}

@media (max-width : 991px){
  .login-icons{
    right: 5rem;
    top: 4rem;
  }
}

// **** FOOTER **** //

footer{
  background-color: $success;
  a{
    color: $secondary;
    &:hover{
      color: $light;
    }
  }
}



// **** PAGE HOME **** //

// CAROUSEL

.carousel {
  h1, h2{
    color: $white;
  }
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 2.5rem;
  }
}
/*
@media (min-width: 992px) {
  .carrousel-img{
    max-height: 800px;
  }
}
*/
.carousel-item{
  max-height: 70vh;
}
.carrousel-img{
  height: fit-content;
  object-fit: contain;
  max-height: 100%;
}


// SECTION : Intro + bulles

.info-mascotte{
  position: relative;
  margin-bottom: 100px;
}
.mascotte-img{
  position: absolute;
  top: 180px;
  left: -30px;
}

.bulle-div{
  position: relative;
}
.bulle-texte{
  width: 340px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 520px) {
  .bulle-img{
    max-width: 350px;
  }
  .bulle-texte{
    max-width: 250px;
  }
}

.rond{
  &:hover{
    .rond-img{
      width: 210px;
      height: 210px;
    }
    h3{
      color: $white;
    }
  }
}
.rond-img{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

