@import 'custom';

// **** GENERAL **** //

body{
  font-family: $font-family;
  font-size: 1.1rem;
}
.flow-1000{
  max-width: 1000px;
}
.flow-800{
  max-width: 800px;
}
.btn{
  background-color: $button-background;
  color: $warning;
  font-family: $font-family-deco;
  &:hover{
    background-color: $button-hover;
    color: $warning;
  }
}

// **** HEADER **** //

.nav-link:not(.bi){
  color: $warning;
  font-size: 1.2rem;
  &:hover{
    color: $yellow-flash;
  }
}
.dropdown-menu{
  background-color: $primary;
}

.navbar{
  position: relative;
}
.login-icons{
  position: absolute;
  right: 2rem;
  i{
    font-weight: 800;
    font-size: 1.8rem;
    color: $white;
    &:hover{
      color: $yellow-flash;
    }
  }
}

@media (max-width : 991px){
  .login-icons{
    right: 5rem;
    top: 4rem;
  }
}

// **** FOOTER **** //

footer{
  background-color: $success;
  a{
    color: $secondary;
    &:hover{
      color: $light;
    }
  }
}



// **** PAGE HOME **** //

.section-title{
  font-family: $font-family-deco;
}

// CAROUSEL

.carousel {
  h1, h2{
    color: $white;
  }
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 2.5rem;
  }
}
/*
@media (min-width: 992px) {
  .carrousel-img{
    max-height: 800px;
  }
}
*/
.carousel-item{
  max-height: 70vh;
}
.carrousel-img{
  height: fit-content;
  object-fit: contain;
  max-height: 100%;
}


// SECTION : Intro + bulles

.info-mascotte{
  position: relative;
  margin-bottom: 150px;
  max-width: 600px;
}
.mascotte-img{
  position: absolute;
  top: 180px;
  left: -30px;
}

.bulle-div{
  position: relative;
}
.bulle-texte{
  width: 340px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $dark;
  p{
    font-family: $font-family-deco;
  }
}

@media (max-width: 520px) {
  .bulle-img{
    max-width: 400px;
    height: 220px;
  }
  .bulle-texte{
    max-width: 300px;
  }
}

@media (max-width: 400px) {
  .info-bulle{
    max-width: 350px;
  }
  .bulle-img{
    max-width: 350px;
  }
  .bulle-texte{
    max-width: 320px;
  }
}





.rond{
  &:hover{
    .rond-img{
      width: 210px;
      height: 210px;
    }
    h3{
      color: $white;
    }
  }
}
.rond-img{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}


// SECTION : Valeurs

.section-valeurs{
  position: relative;
}
/*
.images-deco{
  position: absolute;
  left: 4%;
  top: 50%;
  border-radius: 0px 150px 0px 100px;
  width: 200px;
  height: 500px;
  transform: translateY(-50%);
  border: 2px solid rgb(128, 22, 22);
}
*/
.section-valeurs-deco-1{
  position: absolute;
  //left: 2%;
  top: 50%;
  border-radius: 0px 150px 0px 100px;
  height: 500px;
  transform: translateY(-50%);
  clip-path: xywh(22% 0 62% 100% round 0 150px 0 100px);
}



// SECTION : Habitats

.home-habitats{
  position: relative;
}
.background-div{
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 30%;
}
.home-habitats-background{
  background-image: url(/assets/images/webp\ tinified/zebre-2.webp);
}

.bandeau-habitat{
  margin-bottom: 5rem;
  img{
    max-height: 220px;
    object-fit: cover;
  }
  h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 2.5rem;
  }
  &:hover{
    cursor: pointer;
    img{
      filter: brightness(0.5);
    }
    h3{
      font-weight: 700;
    }
  }
}


// SECTION : Services
.home-services{
  position: relative;
}
.home-services-background{
  background-image: url(/assets/images/icones-dessins/png/bulle-habitats.png);
}
.plan-mini{
  max-height: 546px;
}


// SECTION : avis
.avis-frame{
  min-width: 351px;
  min-height: 400px;
  border: 1px $success solid;
}