@import 'custom';

body{
  background-color: rgb(80, 80, 79);
  color: azure;
}
.prompt{
  font-family: $font-family;
}
.preahvihear{
  font-family: $font-family-deco;
}


// **** HEADER **** //

.nav-link:not(.bi){
  color: $warning;
  font-size: 1.2rem;
  &:hover{
    color: $yellow-flash;
  }
}
.dropdown-menu{
  background-color: $primary;
}

.navbar{
  position: relative;
}
.login-icons{
  position: absolute;
  right: 2rem;
  i{
    font-weight: 800;
    font-size: 1.8rem;
    color: $secondary;
    &:hover{
      color: $white;
    }
  }
}

@media (max-width : 991px){
  .login-icons{
    right: 5rem;
    top: 4rem;
  }
}

// **** FOOTER **** //

footer{
  background-color: $success;
  a{
    color: $secondary;
    &:hover{
      color: $light;
    }
  }
}